.ChatContainer {
    flex: 1 1 0;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.Chat {
    width: 30vw;
    height: auto;
    background-color: rgb(230, 230, 230);
    padding-bottom: 20px;
    margin-bottom: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Chat.is-user-msg {
    background-color: rgb(59, 166, 253);
}